{
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "extends": ["../.eslintrc"],
  "plugins": [],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": "latest",
    "sourceType": "module"
  },
  "rules": {
    
  },
  "globals": {
    "chrome": "readonly"
  },
  "root": true,
  "ignorePatterns": []
}
